/*This is the CSS page for our final template.*/

p {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 }
.footer p { /* This is how you add styles for only the p text within the footer. */
	font-family: "Times New Roman", serif;
	background-color: blueviolet;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: #40c9a2;
	
}
img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Georgia', serif;
}
h3 {
	font-size: 30px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
.footer	p {
	background-color: lightblue;
}
 .list {
 	border: solid darkgray 2px;
 	float: right;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 img {
    float: none;
}
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}